
<div id="hero2" class="d-flex justify-cntent-center align-items-center"></div>

<main id="contact-main">

    <!-- Contact Section -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>We will do our best to help you</h2>
                <p>Contact us</p>
            </div>

            <div class="row col-lg-6">
                <form class="php-email-form">

                    <div class="form-group">
                        <input type="text" name="name" class="form-control" ng-model="contact.name"
                               placeholder="Your Name"
                               maxlength="25"/>
                        <div class="validate"></div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" name="email" ng-model="contact.email"
                               placeholder="Your Email"
                               maxlength="30"/>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="contact.message" rows="3" data-rule="required"
                                  placeholder="Message"
                                  maxlength="1000"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="alert alert-info" role="alert">
                            {{alertText}}
                        </div>
                    </div>
                    <div class="text-left">
                        <button type="submit" ng-click="sendMessage(contact)">Send Message</button>
                    </div>
                </form>
            </div>

        </div>
    </section>

</main>

