
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animated fadeInDown">Welcome to <span>Owly</span></h2>
                <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animated fadeInUp scrollto">Sign in</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animated fadeInDown">What we do</h2>
                <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animated fadeInDown">It's free</h2>
                <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</section>

<!--<div class="hero-waves">-->
    <!--<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave">-->
        <!--<defs></defs>-->
        <!--<path id="wave1" d="" />-->
    <!--</svg>-->
    <!--<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave">-->
        <!--<defs></defs>-->
        <!--<path id="wave2" d="" />-->
    <!--</svg>-->
<!--</div>-->

<main id="main">

    <!-- About Section -->
    <section id="about" class="about">

        <div class="container" ng-show="logInForm == false && registerForm == true">

            <div class="section-title" data-aos="zoom-out">
                <h2>Welcome</h2>
                <p>Register</p>
            </div>

            <div class="row content" data-aos="fade-up">
                <div class="col-lg-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </p>
                    <ul ng-repeat="user in users track by $index">
                        <li><i class="ri-check-double-line"></i>{{user.username}}</li>
                    </ul>
                    <button class="btn-sign" name="save" ng-show="logInForm != true" ng-click="signIn()">Sign in</button>
                </div>

                <div class="col-lg-6 pt-4 pt-lg-0">
                    <form>
                        <div class="form-group">
                            <label for="email"><b>Email</b></label>
                            <input type="email" class="form-control" name="email" id="email" ng-model="user.email" aria-describedby="emailHelp" placeholder="email@example.com">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="firstname"><b>First name</b></label>
                            <input type="text" class="form-control" name="firstname" id="firstname" ng-model="user.firstname">
                        </div>
                        <div class="form-group">
                            <label for="lastname"><b>Last name</b></label>
                            <input type="text" class="form-control" name="lastname" id="lastname" ng-model="user.lastname">
                        </div>
                        <div class="form-group">
                            <label for="username"><b>Username</b></label>
                            <input type="text" class="form-control" name="username" id="username" ng-model="user.username">
                        </div>
                        <div class="form-group">
                            <label for="password"><b>Password</b></label>
                            <input type="password" class="form-control" name="password" id="password" ng-model="user.password">
                        </div>
                        <div class="form-group">
                            <label for="repassword"><b>Re-Type Password</b></label>
                            <input type="password" class="form-control" name="repassword" id="repassword" ng-model="repassword">
                        </div>

                        <div class="alert alert-info" role="alert"
                             ng-class="{'alert-danger': alertTextReg != 'Fill up all the Fields' && alertTextReg != 'Registration Successful',
                                        'alert-success': alertTextReg == 'Registration Successful'}">
                            {{alertTextReg}}
                        </div>

                        <button class="btn-learn-more" name="save" ng-click="register(user)">{{btnName}}</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="container" ng-show="logInForm == true">

            <div class="section-title" data-aos="zoom-out">
                <h2>Welcome</h2>
                <p>Log in</p>
            </div>

            <div class="row content" data-aos="fade-up">

                <div class="col-lg-6 pt-4 pt-lg-0">
                    <form>
                        <div class="form-group">
                            <label><b>Username</b></label>
                            <input type="text" class="form-control" name="username" ng-model="user.username">
                        </div>
                        <div class="form-group">
                            <label><b>Password</b></label>
                            <input type="password" class="form-control" name="password" ng-model="user.password">
                        </div>

                        <div class="alert alert-info" role="alert"
                             ng-class="{'alert-danger': alertTextLog == 'Login Failed. Wrong username or password!' || alertTextLog == 'Please input Username' || alertTextLog == 'Please input Password',
                                        'alert-success': alertTextLog == 'Login Successful'}">
                            {{alertTextLog}}
                        </div>

                        <button class="btn-learn-more" name="save" ng-click="logIn(user)">Log in</button>
                    </form>
                </div>

                <div class="col-lg-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </p>
                    <button class="btn-sign" name="save" ng-show="logInForm == true" ng-click="signUp()">Sign up</button>
                </div>
            </div>

        </div>

    </section><!-- End About Section -->

    <!-- Cta Section -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="row" data-aos="zoom-out">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3>Built for developers</h3>
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle animated fadeInUp" href="">Try it for Free</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- Features Section -->
    <section id="features" class="features">
        <div class="container">
            <ul class="nav nav-tabs row d-flex">
                <li class="nav-item col-3" data-aos="zoom-in">
                    <a class="nav-link active show" data-toggle="tab" href=""ng-click="showMondi()">
                        <i class="ri-gps-line"></i>
                        <h4 class="d-none d-lg-block">Modi sit est dela pireda nest</h4>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                    <a class="nav-link" data-toggle="tab" href="" ng-click="showUnde()">
                        <i class="ri-body-scan-line"></i>
                        <h4 class="d-none d-lg-block">Unde praesenti mara setra le</h4>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
                    <a class="nav-link" data-toggle="tab" href="" ng-click="showPariatu()">
                        <i class="ri-sun-line"></i>
                        <h4 class="d-none d-lg-block">Pariatur explica nitro dela</h4>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                    <a class="nav-link" data-toggle="tab" href="" ng-click="showNostru()">
                        <i class="ri-store-line"></i>
                        <h4 class="d-none d-lg-block">Nostrum qui dile node</h4>
                    </a>
                </li>
            </ul>

            <div class="col-sm-12" data-aos="fade-up" ng-show="mondiShow">
                <h3 class="title">Lorem Ipsum</h3>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                    excepturi sint occaecati cupiditate non provid entatque corrupti quos dolores et quas molestias
                    excepturi sint occaecati cupiditate non provident.</p>
            </div>

            <div class="col-sm-12" ng-show="undeShow">
                <h3 class="title">Dolor Sit</h3>
                <p class="description">Provid entatque corrupti quos dolores et quas molestias.</p>
            </div>

            <div class="col-sm-12" ng-show="pariatuShow">
                <h3 class="title">Ipsum</h3>
                <p class="description">Cupiditate non provid entatque corrupti quos dolores et quas molestias
                    excepturi sint occaecati cupiditate non provident.</p>
            </div>

            <div class="col-sm-12" ng-show="nostruShow">
                <h3 class="title">Lorem</h3>
                <p class="description">Entatque corrupti quos dolores et quas molestias
                    excepturi sint occaecati cupiditate non provident.</p>
            </div>
        </div>
    </section><!-- End Features Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>Portfolio</h2>
                <p>What we've done</p>
            </div>

            <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
            </ul>

            <div class="row portfolio-container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                        <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>App</p>
                        <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                        <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                        <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Card 2</h4>
                        <p>Card</p>
                        <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                        <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 1</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->

    <!-- F.A.Q Section -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>F.A.Q</h2>
                <p>Frequently Asked Questions</p>
            </div>

            <ul class="faq-list">

                <li data-aos="fade-up" data-aos-delay="100">
                    <a data-toggle="collapse" href="" class="collapsed" ng-click="faq1=!faq1">Non consectetur a erat nam at lectus urna duis? <i class="icofont-simple-up"></i></a>
                    <div id="faq1" class="collapse" data-parent=".faq-list" ng-class="{'show' : faq1}">
                        <p>
                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <a data-toggle="collapse" href="" class="collapsed" ng-click="faq2=!faq2">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="icofont-simple-up"></i></a>
                    <div id="faq2" class="collapse" data-parent=".faq-list" ng-class="{'show' : faq2}">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <a data-toggle="collapse" href="" class="collapsed" ng-click="faq3=!faq3">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="icofont-simple-up"></i></a>
                    <div id="faq3" class="collapse" data-parent=".faq-list" ng-class="{'show' : faq3}">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <a data-toggle="collapse" href="" class="collapsed" ng-click="faq4=!faq4">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="icofont-simple-up"></i></a>
                    <div id="faq4" class="collapse" data-parent=".faq-list" ng-class="{'show' : faq4}">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section><!-- End F.A.Q Section -->

</main>
